@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    margin: 0px;
    font-family: "Oswald";
}

button {
    background-color: #e13423;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

button:hover {
    background-color: #98251A;
}

h2 {
    font-size: 30px;
    margin: 0;
    margin-left: 5px;
}

nav {
    width: 90vw;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
}

#logo-img {
    width: 69px;
    height: 69px;
}

.logo-textbox {
    padding-top: 24px;
}

#btn-box {
    display: flex;
    align-items: center;
}

#get-money-button {
    height: 50px;
    width: 150px;
    font-size: 15px;
}

.nav-line {
    width: 100vw;
    background: linear-gradient(to bottom, #cccccc, #ffffff);
    height: 30px;
}

.main {
    width: 40vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#frontpage-btn {
    width: 250px;
    height: 50px;;
    margin: 10px;
    font-size: 25px;;
}

